@import url('https://fonts.googleapis.com/css2?family=Lilita+One:wght@400;700&display=swap');
@import "tailwindcss";



:root {
  --background: #e2b3c2;
  --foreground: #781727;
  --text: #4e0714;
  --one: #4e0714;
  --two: #ac5b67;
  --three: #F3A5BC;
  --four: #efd4c4;
  --five: #5e6623;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Lilita One', cursive;
}


/* Optional: slider-card hover/transition style */
.slider-card {
  transition: transform 0.3s ease;
}
.slider-card:hover {
  transform: scale(1.03);
}